
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  /* background-color:  #313338; */
 
}

.redmi {
  height: 100vh;
  background-color: #313338;
  overflow-y:scroll;

}

#header {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1e1f22;
  color: #fff;
  font-size: 35px;
  /* padding: 5px 45px; */
  /* height: 10%; */
  align-items: center;

}

#form{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin:15px;
}

#Fname,#Lname{
  padding: 15px;
  width:250px;
  font-size: 30px;
}

#submitbtn,#update{
  padding: 15px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #fff;
}
#submitbtn:hover,#update:hover{
  background-color: #2b2d33;
  transition-property: background-color;
  
  padding:15px 25px 15px 25px;
  transition-duration: 500ms;
}



#content {
  display: flex;
  background-color: #2b2d33;
  color: #fff;
  min-height: 150px;
  margin: 15px 25px 0px 25px;
  /* padding: 0px 30px 0px 22px; */
  align-items: center;
  font-size: 25px;
  border-radius:15px;
  justify-content: space-between;

}

.btn {
  position: absolute;
  bottom: 5px;
  right: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #5865f2;
  color: #fff;
  font-size: 30px;
}

.btns{
  border-radius: 10px;
  background-color: transparent;
  color:#5c68f0;
  width:60px;
  text-align: center;
  padding:10px;
  margin:0px 10px 0px 0px;
  border: none;
  border:2px solid #5c68f0;
}

#content div:nth-child(1){
  border-radius: 50%;
  padding: 5px;
  background-color:none;
  color: gray;
  margin: auto;

}

#content div:nth-child(2){
  width: 65%;
  border-radius: 12px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  margin: 15px;
}

#content div:nth-child(2):hover{
  word-wrap: break-word;

}

#content div:nth-child(3){
  margin: auto;
}



#special{
  position: absolute;
  bottom: 50px;
  right: 30%;
  width: 100%;
  border: none;
  font-size: 30px;
  padding: 15px;
  margin-left: auto;
}


@media(width<=1000px) {
  .redmi {
    height: 100vh;
    width: 100%;
    background-color: #313338;

  }

  .btn {
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    background-color: #5865f2;
    color: #fff;
    font-size: 60px;
  }
}